body,html {
    color: #222831;
    
  
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  h1 {
    margin: 50px auto 0 auto;
    margin: 0 auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.5rem;
    color: antiquewhite;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: antiquewhite;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
  }
  nav {
    width: 100%;
    height: 90px;
    background-color: black;
    position: 
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
   line-height: 80px;
   margin: 0 5px;
  }
  nav ul li a{
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

  }
  #check{
    display: none;

  }
  .top-container {
    
    /*background-image: url(../images/high.jpg);*/
    box-sizing: border-box;
    /*background: rgba(0, 0, 100,0.4 ); */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px;
    height: 100vh;
  }
  .background-wrap{
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  #clock {
    width: 100%;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifhow ;
  }

  .middle-container {
    background-color: #ecfcff;
    padding: 100px 0;
  }
  .bottom-container {
    background-color: #f2f3f3;
  }
  #videp-bg-elem{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  .image-1 {
    size: 10px;
    position: absolute;
    right: 300px;
    top: 50px;
  } 
  .image-2 {
    size: 10px;
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
  .image-3 {
    size: 10px;
  }
  .display-picture {
    width: 250px;
  }
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  .js-picture {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .html-picture {
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  .css-picture {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .github{
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  .intro {
    width: 30%;
    margin: auto;
  }
  p {
    line-height: 2;
  }
  hr {
    border: dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    color: lightgray;
  }
  .contact-message {
    /* width: 40px; */
    margin: 40px auto 60px;
  }
  .skills {
    color: #222831;
  }
  .hello {
    color: #222831;
  }
  .touch {
    color: #222831;
  }
  .name-box {
    align-self: right;
  }
  #contact-details{
    color: #222831;
  }
  @media (max-width: 952px){
    lable.logo{
      font-size: 20px;
      padding-left: 40px;

    }
    nav ul li a{
      font-size: 16px;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a.hover,a.active {
      background: none;
      color: #0082e6;

    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block ;

    }
    ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     top: 80px;
     left: -100%; 
     text-align: center;
     background: #2c3e50;
     transition: all .5s;
    }
  }
  @media (min-aspect-ratio:16/9) {
    #videp-bg-elem{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio:16/9) {
     #videp-bg-elem{
      width: auto;
      height: 100%;
    }
    
  }
  @media screen and(max-width:700px) {
    .intro {
      font-size: 700%;
  
    }
  @media (max-aspect-ratio:18/9) {
    #videp-bg-elem{
        width: auto;
        height: 100vh;
      }
  }
  
  }
  